body{
    background: #E4EDF4;
   

}

nav {  
    width: 100%;
    background: #FFFFFF;
    height: 100vh;

}
.add-details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.first-list{
    height: auto;
    margin-left: 50px;
    
}

.second-list{
    
    height: 100vh;
    
   
    
}
ul li {
   
    padding: 10px;
    list-style: none;
    text-align:justify;

}
 li a {
    text-decoration: none;
    color: #000000;
}

.second-list img{
   margin-right: 30px;
}

.heading-contain{
    width: 98%;
    margin-top: 20px    ;
    display: flex;
   justify-content:space-between;
}
.login_profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.select{
    margin-right:30px;
}
.select button{
    background: none;
    border: none;
    color:  #068EEE;
}
.id_name{
    margin-right: 15px;
}
.id_name h6{
    font-size: 15px;
    
}
.id_name span{
   font-size: 10px;
}
   

.login_profile img{
    border-radius: 10px;
    
}

.tables-containers{
    width: 98%;
    padding: 20px;
    margin-top: 50px;
    background: #ffff;
    border-radius: 10px;
}
.my-table,.table-2{
    padding: 20px 10px;
    width: 100%;
    background: #ffff;
}
 h4{
    color: #068EEE;
}
thead tr th{
    color: #626262;
    font-family: Nunito;
font-size: 15px;
font-weight: 400;


}
td{
    color: #000000;
    height: 60px;
    font-size: 17px;
   
    
}

button{
    background: none;
    border: none;
}

#first{
    width: 300px;
}


.container-3{
    margin-top: 30px;
    border-radius: 10px;
    width: 98%;
    background: #ffff;
    padding: 20px;
}
.table-3{
    padding: 40px;
    width: 100%;
    height: 100px;
 
}
  
h3{
   
    color: #068EEE;
    font-size: 19px;
}
.container-4{
    margin-top: 30px;
    border-radius: 10px;
    width: 98%;
    height: 200px;
    background: #ffff;
    padding: 20px;
}
 
 
 


  

